<!-- /templates/customers/reset_password.liquid -->
{{ 'style.create-customer.css' | asset_url | stylesheet_tag }}
<div class="create-customer__container">
  <div class="create-customer__container--inner create-customer">
    <h3 class="heading--tertiary create-customer__heading">{{ 'general.account.reset_password.title' | t }}</h3>
    {% form 'reset_customer_password' %}

      {{ form.errors | default_errors }}

      <label class="p--secondary" for="password">{{ 'general.account.reset_password.password' | t }}</label>
      <input class="form__input mb--md" type="password" value="" name="customer[password]" size="16" />

      <label class="p--secondary" for="password_confirmation">{{ 'general.account.reset_password.password_confirmation' | t }}</label>
      <input
        type="password"
        value=""
        name="customer[password_confirmation]"
        size="16"
        class="form__input mb--bg"
      />

      <input class="form__input-submit" type="submit" value="Reset Password" />

    {% endform %}
  </div>
</div>
